.card {
  width: 330px;
  height: 340px;
  margin: 18px;
  position: relative;
  color: #fff;
}

.card__image {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: -1;
}

.card__container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  z-index: 2;
}
.card__body {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__name {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.like_down,
.like_up {
  width: 18px;
  height: 18px;
  padding: 10px;
  margin-right: 0.5rem;
}

.like_down {
  background-color: yellow;
}
.like_up {
  background-color: green;
}

.card__name p {
  text-transform: capitalize;
  font-size: 2rem;
  margin: 0 1rem;
}

.card__description {
  width: 80%;
  display: flex;
  flex-direction: column;
  text-overflow: ellipsis;
  text-align: start;
  overflow: hidden;
}

.card__description span {
  font-size: 13px;
  text-align: end;
}

.card__description p {
  text-overflow: ellipsis;
  white-space: nowrap;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.button {
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.7);
  color: rgba(255, 255, 255, 0.815);
  border: 1px solid #fff;
  cursor: pointer;
  font-size: 0.9rem;
}

.card__footer {
  background-color: red;
  width: 100%;
  height: 10%;
  display: flex;
}

.card__footer--up {
  background-color: rgba(var(--color-green-positive), 1);
  width: 50%;
}

.card__footer--down {
  background-color: rgba(var(--color-yellow-negative), 1);
  width: 50%;
}
