.container {
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    display: contents;
}

.container__menu {
    width: 100%;
    margin-bottom: 29px;
    display: flex;
    flex-direction: row-reverse;
}

.container__profiles {
    width: 100%;
    display: contents;
}

.container__grid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 29px;
}

@media (max-width: 768px) {
    .container__grid {
        grid-template-columns: auto auto;
        gap: 38px;
    }
}

@media (max-width: 414px) {
    .container__grid {
        overflow-x: scroll;
        overflow-y: hidden;
        max-height: 349px;
        white-space: nowrap
        /*grid-template-columns: auto;
        
        overflow-x: scroll;
        overflow-y: unset;*/
    }
    .container__menu {
        display: none;
    }
}